/*****************************************/
/*                 TABLE                 */
/*****************************************/

input[type=search] {
  border-radius: 5px;
  box-shadow: 0 0 2px #E1DFDDBD;
  width: 160px;
  margin-bottom: 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
  width: 70%;
}

.sort-button{
  float: left;
  border-radius: 5px;
  box-shadow: 0 0 2px #E1DFDDBD;
  padding: 13px;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  font-family: VolvoNovumRegular;
}

table a{
  text-decoration: none;
}

tr {
  margin-top: 0px;
}

th {
  font-family: VolvoNovumMedium;
  text-transform: uppercase;
  color: black;
  background: transparent;
}

th:nth-child(1),
td:nth-child(1) {
  width: 10%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 10%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 10%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 20%;
}

td {
  background-color: white;
  text-transform: capitalize;
}
td:first-child {
  width: 10%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -2px 0px 2px #E1DFDDBD;
}
td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 0px 2px #E1DFDDBD;
}

.spacer {
  display: block;
  padding: 10px;
  background-color: transparent;
}

.statut {
  text-align: center;
  text-shadow: 0 0 5px;
  text-transform: uppercase;
  font-size: 30px;
}
.red { color: red; }
.green{color: green;}
.orange{color: orange;}

.nom{
  display: inline-block;
  text-transform: uppercase;
  margin-right: 2px;
  margin-bottom: 2px;
}
.prenom {
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 2px;
}
.matricule {  
  display: block;
  text-transform: uppercase;
}


/*tr:hover {
  background-color: #E1DFDDBD;
}*/
