/*****************************************/
/*                   COMMUN              */
/*****************************************/

* {
  box-sizing: border-box;
  font-family: VolvoNovumRegular;
  color: #53565A;
}

body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.1px;
  background-color: #E1DFDDBD;
}

h1 {
  font-family: 'VolvoBroad', sans-serif;
  font-size: 70px;
  color: white;
  display: block;
  width: 100%;
  background-position: center;
  margin: 0;
  padding-top: 7%;
  padding-bottom: 5%;
}

.input-field {
  background-image: url('../img/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 75%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/*****************************************/
/*                TOP-NAV                */
/*****************************************/


/*---- SEARCH ----*/

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}


/* Style the submit button */
.overlay button {
  display: none;
}

/*----------------*/

.topnav {
  position: fixed; /* Set the navbar to fixed position */
  z-index: 3;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #E1DFDDBD;
}

.topnav a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: VolvoNovumRegular;
  font-size: 16px;
  letter-spacing: -.1px;
  float: left;
  display: block;
  padding: 15px 24px;
}

.topnav a:hover{
  background-color: #C8C9C7BD;
  border-bottom: 2px solid black;
  color: black;
}


.topnav a .logo {
  float: inline-start;
}

.topnav .search-button {
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
}

.topnav .search-button:hover{
  background-color: #C8C9C7BD;
  border-bottom: 2px solid black;
}

.topnav .search-button img {
  height: 47px;
}

.topnav .search-button:hover img {
  height: 45px;
}

/*****************************************/
/*                   GRID                */
/*****************************************/

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 10px;
  padding: 10px;
}

.medium {
  border-radius: 5px;
  margin: 5%;
  padding: 5%;
  background-color: #FFFFFFAA;
  box-shadow: 0 0 7px #E1DFDD;
}

/*****************************************/
/*                 SCROLL                */
/*****************************************/

.scroll-area {
  display: block;
  height:500px;
  overflow:auto;
}

/*****************************************/
/*                   FOOTER              */
/*****************************************/

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  display: block;
  z-index: auto;
  text-align: center;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 10px;
}